<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container flex-grow-1 py-2">
      
      <header>
         <h1 th:text="#{application.title}">Webapp Title</h1>
      </header>
      
      <p>Example showing how to set up Spring Boot actuators.</p>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>
