<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />

<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container flex-grow-1 py-2">

      <header class="page-header">
         <h1>Actuators</h1>
      </header>

      <p>Open the <a th:href="@{/actuator}">Actuator List endpoint</a>, or check the endopoints individually:</p>
      <div class="col-md-4">
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:href="@{/actuator/auditevents}">Auditing</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/beans}">Beans</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/caches}">Caches</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/conditions}">Conditions</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/configprops}">Config Props</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/env}">Env</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/health}">Health</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/heapdump}">Heap Dump</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/httpexchanges}">HTTP Exchanges</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/info}">Info</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/loggers}">Loggers</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/logfile}">Log File</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/mappings}">Mappings</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/metrics}">Metrics</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/scheduledtasks}">Scheduled Tasks</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/threaddump}">Thread Dump</a></li>
         </ul>
      </div>
      <div class="col-md-8">
      </div>
      <h2>Templated Actuators</h2>
      <div class="col-md-4">
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:href="@{/actuator/loggers/com.bernardomg.example.boot.actuator}">App
                  logs</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/metrics/hikaricp.connections}">Hikari Connections
                  Metrics</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/health/db}">Database Health</a></li>
         </ul>
      </div>
      <div class="col-md-8">
      </div>
      <h2>POST Actuators</h2>
      <div class="col-md-4">
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:href="@{/actuator/shutdown}">Shutdown</a></li>
         </ul>
      </div>
      <div class="col-md-8">
      </div>
      <h2>Custom</h2>
      <div class="col-md-4">
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:href="@{/actuator/customEndpoint}">Custom Endpoint</a></li>
            <li class="list-group-item"><a th:href="@{/actuator/health/customHealth}">Custom Health Indicator</a></li>
         </ul>
      </div>
      <div class="col-md-8">
      </div>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>